body {
    background: #FFF4F0;
}

aside {
    float: left;
    background: #DFDFDF;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: #2c2c2c;
    border-right: 3px solid #EF9090;
}

aside img {
    width: 80px;
    float: left
}

aside .logo {
    font-size: 30px;
    margin-left: 1px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 40px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: #4169E1;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #FF8C00;
    text-decoration: none;
    transform: scale(1.06);
}

main .features {
    float: left;
    color: #FF8C00;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 60px;}
main .features p {max-width: 400px; margin: 20px auto}

.alert-warning {
    float: left;
    clear: both;
    width: 450px;
    margin: 20px 27%;
    text-align: center;
}

form {
    margin-left: 25%;
    width: 500px;
    margin-top: 50px;
}